<ion-navbar hideBackButton *navbar>
    <button menuToggle start>
        <ion-icon name="settings"></ion-icon>
    </button>
</ion-navbar>


<ion-content padding class="compliment">
    <p>You look so good, {{username}}!</p>

    <p>
        <img [src]="image"/>
    </p>

    <p>
        <button block (click)="reset($event)">Reset</button>
    </p>

</ion-content>
