<ion-navbar hideBackButton *navbar>
    <button menuToggle start>
        <ion-icon name="settings"></ion-icon>
    </button>
</ion-navbar>


<ion-content padding class="getting-started">
    <ion-item clearInput>
        <ion-input type="text" [(ngModel)]="username" placeholder="Please, enter your name..."></ion-input>
    </ion-item>
    <p>
        <button block (click)="openNextPage($event)" [disabled]="username==''">Next</button>
    </p>

</ion-content>
